$max-width:1440px;
$break-xs:1024px;


.contact {

    padding: 0 44px 0;
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: $break-xs) {
        flex-direction: column;
        padding: 0;
    }

    &>div {
        width: calc((100% - 10px) / 2);

        @media screen and (max-width: $break-xs) {
            width: 100%
        }

    }

    .describe {
        margin-bottom: 70px;

        @media screen and (max-width: $break-xs) {
            margin-bottom: 18px;
            font-weight: normal;
        }
    }

    .address {
        margin-bottom: 54px;

        @media screen and (max-width: $break-xs) {
            margin-bottom: 12px;
          }
    }

    .right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    form {

        @media screen and (max-width: $break-xs) {
            padding: 0;
            margin-top: 24px
        }

        input {
            height: 54px;
            width: 100%;
            margin-bottom: 20px;
            padding: 0 20px;
            font-size: 20px;
            color: #8B8B8B;
            font-weight: 100;
            border: 1px solid #BEBEBE;
            outline-width: 0;

            @media screen and (max-width: $break-xs) {
                margin-bottom: 8px;
                font-size: 16px;
                height: 35px;
            }
        }

        textarea {
            height: 126px;
            width: 100%;
            margin-bottom: 20px;
            padding: 18px 20px;
            font-size: 20px;
            color: #8B8B8B;
            font-weight: 100;
            border: 1px solid #BEBEBE;
            outline-width: 0;

            @media screen and (max-width: $break-xs) {
                margin-bottom: 15px;
                font-size: 16px;
                height: 105px;
            }
        }

        .submit {
            color: #FFFFFF;
            width: 191px;
            height: 54px;
            background: #7DC74A 0% 0% no-repeat padding-box;
            border-radius: 5px;
            font-size: 20px;
            font-weight: 100;
            display: flex;
            justify-content: center;
            align-items: center;
            float: right;
            cursor: pointer;

            @media screen and (max-width: $break-xs) {
                width: 100%;
                height: 40px;
                font-size: 16px;
                background: #7DC74A 0% 0% no-repeat padding-box;
                border-radius: 5px
            }
        }
    }

    .google-map {
        width: 100%;
        height: 274px;
    }

    .google-place-name {
        font-size: 16px;
        width: 150px;
        color: #00828d;
    }


}