$max-width:1440px;
$break-xs:1024px;


body {
    background-attachment: fixed;
    background-image: url('../../imgs/banner.png');

    @media screen and (max-width: $break-xs) {
        background-image: none
    }
}

.about {
    display: flex;
    padding-top: 80px;
    padding-bottom: 96px;
    justify-content: space-between;

    @media screen and (max-width: $break-xs) {
        flex-direction: column;
        padding-bottom: 32px;
        padding-top: 24px;
    }


    .title {
        width: 26%;

        @media screen and (max-width: $break-xs) {
            width: 100%;
        }

        img {
            @media screen and (max-width: $break-xs) {
                content: url('./title-1-s.svg')
            }
        }
    }

    .content {
        width: 67.5%;
        text-align: left;
        display: flex;
        align-items: center;

        @media screen and (max-width: $break-xs) {
            width: 100%;
        }

        span {
            font-weight: bold;
        }
    }
}

.projects {
    padding-bottom: 143px;

    @media screen and (max-width: $break-xs) {
        padding-bottom: 16px;
    }

    .slick-slider {
        .slick-dots {
            bottom: 0;

            li {
                button {
                    &:before {
                        color: #fff;
                        opacity: 1;
                    }
                }

                &.slick-active {
                    button {
                        &:before {
                            color: #000000;
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }

    .title {
        width: 87.4%;
        margin: 0 auto 39px;

        @media screen and (max-width: $break-xs) {
            width: 100%;
            margin: 0 0 8px;
        }

        img {
            @media screen and (max-width: $break-xs) {
                content: url('./title-2-s.svg')
            }
        }

    }

    .mask-block {
        position: relative;
        cursor: pointer;

        @media screen and (max-width: $break-xs) {
            width: calc(100% - 15px);
            margin: auto;
        }

        &:hover {
            .mask {
                display: none;
            }
        }

        .mask {
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            background: #000000 0% 0% no-repeat padding-box;
            opacity: 0.6;
            display: flex;
            align-items: center;
            justify-content: center;


        }

        .mask-title {
            position: absolute;
            width: 100%;
            text-align: center;
            bottom: -30px;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0;
            color: #5A5A5A;
        }

        .mask1 {
            width: 24.1%;
        }

        .mask2 {
            width: 42.83%;
        }

        .mask3 {
            width: 34%;
        }

        .mask4 {
            width: 65.7%;
        }

        .mask5 {
            width: 29.76%;
        }
    }

    .col-2 {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;

        &>div {
            width: calc((100% - 10px)/2);
        }
    }

    .col-3 {
        display: flex;
        justify-content: space-between;

        &>div {
            width: calc((100% - 20px)/3);
        }
    }
}

.services {

    margin: 0 auto 80px;

    @media screen and (max-width: $break-xs) {
        margin: 0 auto 46px;
        box-shadow: 0px 5px 10px #00000029;
    }


    .title {
        width: 82.5%;
        margin: auto;

        @media screen and (max-width: $break-xs) {
            width: 100%;
        }

        img {
            @media screen and (max-width: $break-xs) {
                content: url('./title-3-s.svg')
            }
        }



    }

    .content {
        display: flex;
        justify-content: flex-end;
        position: relative;
        top: -40px;

        @media screen and (max-width: $break-xs) {
            top: 0;
        }

        .right {
            width: 54%;
            display: flex;

            @media screen and (max-width: $break-xs) {
                width: 67.47%;
                margin: auto;
            }

            &>div {
                display: flex;
                flex-direction: column;

                @media screen and (max-width: $break-xs) {
                    width: 110px;
                }

                &:first-child {
                    margin-right: 35px;
                }
            }

            img {
                height: 80px;
                width: 100%;
                margin-right: 50px;
                margin-bottom: 60px;

                @media screen and (max-width: $break-xs) {
                    height: 44px;
                    margin-bottom: 32px;
                }
            }
        }

    }
}

.clients {
    margin-bottom: 123px;

    @media screen and (max-width: $break-xs) {
        margin-bottom: 50px;
    }

    .title {
        text-align: left;
        font-size: 100px;
        line-height: 120px;
        font-weight: bold;
        letter-spacing: 5px;
        color: #D9EAFF;
        margin-bottom: 31px;

        @media screen and (max-width: $break-xs) {
            font-size: 30px;
            line-height: 34px;
            letter-spacing: 3px;
            margin-bottom: 14px;
        }
    }

    .album {
        display: flex;

        @media screen and (max-width: $break-xs) {
            overflow-x: scroll;
        }

        &>div {
            width: calc((100% - 40px -88px)/6);

            @media screen and (max-width: $break-xs) {
                min-width: 82px;

            }
        }
    }
}

.partnership {
    margin-bottom: 124px;

    @media screen and (max-width: $break-xs) {
        margin-bottom: 38px;
    }

    .title {
        text-align: left;
        font-size: 100px;
        line-height: 120px;
        font-weight: bold;
        letter-spacing: 5px;
        color: #D9EAFF;
        margin-bottom: 31px;

        @media screen and (max-width: $break-xs) {
            font-size: 30px;
            line-height: 34px;
            letter-spacing: 3px;
            margin-bottom: 14px;
        }
    }

    .album {
        display: flex;

        @media screen and (max-width: $break-xs) {
            overflow-x: scroll;
        }

        &>div {
            width: calc((100% - 66px -88px)/7);

            @media screen and (max-width: $break-xs) {
                min-width: 81px;
            }
        }
    }
}

.touch {
    padding-top: 91px;
    padding-bottom: 54px;

    @media screen and (max-width: $break-xs) {
        padding-top: 0;
    }

    .title {
        width: 70.27%;
        margin: 0 auto 50px;

        @media screen and (max-width: $break-xs) {
            min-width: 100%;
            margin: 0 auto 22px;
        }

        img {
            @media screen and (max-width: $break-xs) {
                content: url('./title-4-s.svg')
            }
        }
    }
}